@page "/"
@using Radgen.Data;

<PageTitle>Index</PageTitle>

<h1>Radzen Grid</h1>

<EditForm Model="_radzenGridOptions">
    <div class="row">
        <div class="col">
            <input type="checkbox" id="AllowPaging" @bind="_radzenGridOptions.AllowPaging" />
            <label for="AllowPaging">Allow paging</label>
        </div>
        <div class="col">
            <pre>
            <code>
               &lt;RadzenGrid
                    AllowPaging="@_radzenGridOptions.AllowPaging"&gt;
                &lt;/RadzenGrid&gt;               
            </code>
            </pre>
        </div>
    </div>
    @* <button type="submit" onclick=""></button> *@
</EditForm>

@code{
    private RadzenGridOptions _radzenGridOptions = new RadzenGridOptions();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
